.wrapper {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    overflow: hidden;
    max-width: 77.25rem;
    margin-left: auto;
    margin-right: auto;

    &--narrow {
        max-width: 470px;
    }

    &--no-padding-until-medium {
        padding-left: 0;
        padding-right: 0;

        @mixin atMedium {
            padding-left: 1.125rem;
            padding-right: 1.125rem;
        }
    }

    &--no-padding-until-large {
        padding-left: 0;
        padding-right: 0;

        @mixin atLarge {
            padding-left: 1.125rem;
            padding-right: 1.125rem;
        }
    }

    &--medium {
        max-width: 60.875rem;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    

    &--b-margin {
        margin-bottom: 1rem;

        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
        
    }
}